body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background: #3e3c3c;
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
    flex-direction: column;
}

.navbar {
    height: 50px;
    background: #3e3c3c;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #333;
    font-size: 14px;
    color: #aaa;
}

.chat-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    box-sizing: border-box;
}

.message {
    max-width: 100%;
    display: flex;
    gap: 12px;
    animation: fadeIn 0.25s ease-in-out;
    width: 100%;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.message-text {
    background: #2b2b2b;
    padding: 14px 18px;
    border-radius: 8px;
    max-width: 600px;
    line-height: 1.5;
    word-wrap: break-word;
}

.message.you {
    justify-content: flex-end;
}

.message.you .avatar {
    order: 2;
}

.message.you .message-text {
    order: 1;             
}

.message.bot {
    justify-content: flex-start;
}


.input-container {
    display: flex;
    width: 100%;
    padding: 16px;
    gap: 10px;
    background: #3e3c3c;
    border-top: 1px solid #3d3a3a;
}


input {
    flex: 1;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #333;
    background: #2b2b2b;
    color: #fff;
}

button {
    padding: 16px 40px;
    border-radius: 10px;
    border: 1px solid black;
    background: #3a3c3c;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #444;
}

.typing {
    font-style: italic;
    color: #999;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(4px); }
    to { opacity: 1; transform: translateY(0); }
}
